{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <h1>There is supposed to be some info on Rango, but since it is just a book example there will not be one</h1>
    <div>
        This tutorial has been put together by <strong> {{ creatorsname }}</strong> <br />
        You have visited this site: {{ visits }} times <br />
        <img src="{{ MEDIA_URL }}dog.jpg" alt="Picture of happy panda">
    </div>
    </br>
    <button class="btn btn-primary" onClick="alert('You clicked the button using JavaScript.');">
        Click Me - I run JavaScript
    </button>
    <p>This is an example</p>
    <p>This is another example</p>
    <button class="btn btn-primary" id="about-btn">
        Click Me - I'm JavaScript on Speed
    </button>
    <div id="msg">Hello - I'm here for a JQuery Example too</div>
{% endblock %}