<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        {% if category %}
            <h1>Add a page to the Category <a href="/rango/category/{{ category.slug }}">{{category.slug }}</a></h1>
            <div>
                <form id="page_form" method="POST" action="/rango/category/{{ category.slug }}/add_page/">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                        {{ field.errors }}
                        {{ field.help_text }}
                        {{ field }}
                        <br />
                    {% endfor %}
                    <input type="submit" name="submit" value="Create Category" />
                </form>
            </div>
        {% else %}
            <h1>A category by this name doesn't exist</h1>
            <a href="/rango/">Home page</a>
        {% endif %}
    </body>
</html>