{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title %}User Profiles{% endblock %}

{% block body_block %}
<h1>User Profiles</h1>
<div class="panel">
    {% if userprofile_list %}
    <div class="panel-heading">
        <div class="panel-body">
            <div class="row">
                {% for listuser in userprofile_list %}
                <div class="col-sm">
                    <div class="list-group-item">
                        <div class="card" style="width: 12rem;">
                            {% if listuser.picture %}
                            <img src="{{ MEDIA_URL }}{{ listuser.picture }}"
                                    width="64"
                                    height="64"
                                    class="card-img-top"
                                    alt="{{selecteduser.username}}" />
                            {% else %}
                            <img width="64" height="64" class="card-img-top" src="http://lorempixel.com/64/64/people/"/>
                            {% endif %}
                            <a class="card-text" href="{% url 'profile' listuser.user.username %}">
                                {{ listuser.user.username}}
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
        <p>There are no users.</p>
    {% endif %}
</div>
{% endblock %}